### User Defined Variables ###
nodeAPIURL = "http://my.synbolnode.me:3000"    #Your node's REST API endpoint (should not end with a /)
endPoint = '/chain/info'  #endpoint for the block height API call (i.e. what comes after the port in the above nodeAPIURL)
dataKey = 'height'  # the key to find the block height in the resulting API response (i.e. 'height')
blockFilePath = "C:\\Users\\USER\\Desktop\\XYM.node_last_block.txt"   #Windows format: C:\\Users\\ | *nix: /home/user/
errorFilePath = "C:\\Users\\USER\\Desktop\\XYM.node_error.txt"
senderAddress = 'EMAILADDRESS@gmail.com'   #Email address used for alerts --- designed for GMAIL
senderPass = 'hgjdiufsdijfksdf'     #Sender Address App Password -- designed for GMAIL - see https://support.google.com/accounts/answer/185833
smtpServer = 'smtp.gmail.com'
smtpPort = 587
recipientAddress = "ALERTEDADDRESS@email.com" #Node outage alert recipient
realertEvery = 10     #How many errors before an additional alert message is sent? i.e. if run every 10 min and realertEvery = 3, will email every 30 minutes during an outage. errorCounter is reset by a successful run.
nodeChain = "XYM"
